## Numpy

Numpy is a numerical library that makes it easy to work with big arrays and matrices.

It can be used to make fast arithmetic operations with matrixes. Pandas and Numpy are usually used together, as Pandas builds on NumPy functionality to work with DataFrames.

Since Pandas is designed to work with Numpy, almost any Numpy function will work with Pandas Series and DataFrames, lets run some examples.

In [1]:
import numpy as np
import pandas as pd

In [8]:
# Create a container for a pseudo random generator
rng = np.random.RandomState()
# Create a Pandas Series from our random generator
series = pd.Series(rng.randint(0, 10, 4))
series

0    7
1    6
2    3
3    8
dtype: int32

In [9]:
# Create a Pandas Dataframe with our Numpy random generator
# Integer numbers between 0 and 10, 3 rows and 4 columns
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                 columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  7  5  0  2
1  1  2  7  1
2  9  4  1  3

We can use a Numpy function on these Pandas objects and still keep our indexes for order

In [10]:
# Calculate e^x, where x is every element of our array
np.exp(series)

0    1096.633158
1     403.428793
2      20.085537
3    2980.957987
dtype: float64

In [16]:
# Calculate sin() of every value in the DataFrame multiplied by pi and divided by 4
np.sin(df * np.pi / 4)

          A             B         C         D
0 -0.707107 -7.071068e-01  0.000000  1.000000
1  0.707107  1.000000e+00 -0.707107  0.707107
2  0.707107  1.224647e-16  0.707107  0.707107